* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: $darkMain;
}

.grilla {
    display: grid;
    height: 1066px;

    .grilla ul a:hover {
        color: $cyanPink;
    }
}

